/* Import */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Poppins", sans-serif;
  --serif: "Playfair Display", serif;

  /* Colors */
  --primary: #345b63;
  --secondary: #d4ecdd;
  --dark: #112031;
  --dark-alt: #152d35;
  --light: #ffffff;
  --light-alt: #f4fcfc;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--dark);
  color: var(--light-alt);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--light-alt);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-alt);
}

/* Main */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.progress {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
.progress::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 5px;
  width: 100%;
  z-index: -1;
  background: var(--secondary);
}
.progress .line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 5px;
  width: 0;
  z-index: 1;
  background: var(--dark);
  transition: 0.5s ease all;
}
.progress .point {
  width: 70px;
  height: 70px;
  background: var(--light);
  border: 5px solid var(--dark);
  border-radius: 50%;
  transition: 0.5s ease all;
  position: relative;
  z-index: 2;
}
.progress .point.active {
  background: var(--primary);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.button {
  padding: 12px 20px;
  background: var(--primary);
  color: var(--light);
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
}
.button:disabled {
  background: var(--secondary);
  color: var(--dark-alt);
  cursor: not-allowed;
}
