/* Import */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Poppins", sans-serif;
  --serif: "Playfair Display", serif;

  /* Colors */
  --primary: #345b63;
  --secondary: #d4ecdd;
  --dark: #112031;
  --dark-alt: #152d35;
  --light: #ffffff;
  --light-alt: #f4fcfc;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--dark);
  color: var(--light-alt);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--primary);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-alt);
}

/* Main */
.container {
  width: 100%;
  min-height: 100vh;
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
  flex-direction: column;
  gap: 30px;
}
.container h3 {
  font-size: 35px;
  font-weight: 600;
  color: var(--light);
  text-align: center;
  margin-bottom: 30px;
}
.card {
  width: 350px;
  height: 200px;
  background: var(--dark-alt);
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
  box-shadow: 0 0 10px 2px #0002;
  color: var(--light-alt);
  font-size: 25px;
  transition: 0.5s ease all;
  opacity: 0;
}
.card:nth-child(odd) {
  transform: translateX(400%);
}
.card:nth-child(even) {
  transform: translateX(-400%);
}
.card.show {
  transform: translateX(0);
  opacity: 1;
}
