/* Import */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Poppins", sans-serif;
  --serif: "Playfair Display", serif;

  /* Colors */
  --primary: #345b63;
  --secondary: #d4ecdd;
  --dark: #112031;
  --dark-alt: #152d35;
  --light: #ffffff;
  --light-alt: #f4fcfc;

  /* Shadow */
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--dark);
  color: var(--light-alt);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--secondary);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-alt);
}

/* Main */
.content {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  background: var(--primary);
}
.card {
  width: 600px;
  height: 600px;
  background: var(--light);
  box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--dark-alt);
}
h6 {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark);
  margin-bottom: 30px;
}
p {
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-alt);
}
.cup {
  width: 200px;
  height: 330px;
  border: 5px solid var(--primary);
  border-radius: 5px 5px 100px 100px;
  background: var(--light);
  overflow: hidden;
  position: relative;
}
.cup-sm {
  width: 70px;
  height: 110px;
  border-width: 3px;
}
.cups {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.cup-sm.fill {
  background: var(--secondary);
  border-width: 5px;
}
.remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 3;
}
.remaining b {
  font-size: 20px;
  font-weight: 600;
}
.remaining span {
  font-size: 12px;
}
.percentage {
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  height: 0;
  transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.cups li {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
